aws_region        = "us-east-1"
project_name      = "my-way"
instance_type     = "t3.micro"
root_volume_size  = 20
key_name          = "my-ec2-keypair"
ssh_ingress_cidr  = "0.0.0.0/0"

tags = {
  Environment = "production"
  Project     = "my-way"
}
